<section class="results-page">
  <div class="container">
    <div class="sixteen columns center">
      <h1>You should eat at...</h1>

      <div class="results-container">
        <h1><%= @restaurant_name %></h1>
        <h3><%= @restaurant_type %></h3>
        <div style='width: 800px;'>
          <div id="map" style='width: 800px; height: 400px;'></div>
        </div>
        <div class="address-container">
          <h3><%= @restaurant_address[0] %></h3>
          <h3><%= @restaurant_address[1] %></h3>
        </div>
        <h3><%= @restaurant_phone %></h3>
        <h3><a href="<%= @restaurant_info %>" target="_blank"><%= @restaurant_info %></a></h3>
      </div>
    </div>
  </div>
</section>
