<section class="results-page">
  <div class="container">
    <div class="sixteen columns center">
      <h1>You should eat at...</h1>

      <div class="results-container">
        <h1><%= @restaurant_name %></h1>
        <h3><%= @restaurant_type %></h3>

        <%=image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=700x400&markers=color:red%7Clabel:A%7C#{session[:latitude]}%2C#{session[:longitude]}&markers=color:green%7Clabel:B%7C#{@restaurant_url_escaped_address}&sensor=true" %>

        <div class="more-information-container">
          <h3><%= @restaurant_address[0] %></h3>
          <h3><%= @restaurant_address[1] %></h3>
          <h3><%= @restaurant_phone %></h3>
          <h3><a href="<%= @restaurant_info %>" target="_blank"><%= @restaurant_info %></a></h3>
        </div>

        <button id="js-get-location">Nah, find something else</button>
      </div>
    </div>
    <div class="sixteen columns center">
      <p>information provided by <%= link_to image_tag('yelp_logo_75x38.png'), "http://www.yelp.com" %></p>
      <p>created by <a href="http://alex.aspria.net/">alex</a></p>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function() {
    $('#js-get-location').click(function() {
      $(this).prop('disabled', true);
      $(this).text(randomLoadingText());
      getGeoLocation();
    });
  })
</script>
